In [1]:
#Hello Earth
print("Hello Earth")

Hello Earth

In [2]:
Print("Harshad")

NameError: name 'Print' is not defined

In [3]:
print("Hello\nWorld!")

Hello
World!

In [4]:
# print("Hello\nWorld!")

In [9]:
#Datatypes int,float,str
type("Hello World")

str

In [8]:
#Find the type of the following using the type command
type("1.1")

str

In [10]:
#Cast the following to a int then to a bool
bool(int("1"))

True

In [11]:
int(1.0)

1

In [12]:
bool(1)

True

In [14]:
#Check python version
import sys
print(sys.version)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [15]:
frint("Hello")

NameError: name 'frint' is not defined

The error message tells you:

where the error occurred (more useful in large notebook cells or scripts), and
what kind of error it was (NameError)

In [16]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

#### OUTPUT, Lists and Tuples

In [17]:
#To declare a variable:
var_name = 'Harshad'

In [18]:
var_age = 25

In [19]:
print(var_name," is ",var_age, " years old.")

Harshad  is  25  years old.

#### LIST

In [20]:
num=[1,2,3,4,5,6,7,8,9,10]

In [21]:
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
len(num)

10

In [23]:
num[5]='Harshad'

In [24]:
print(num)

[1, 2, 3, 4, 5, 'Harshad', 7, 8, 9, 10]

In [26]:
mixed=[18,6.32,'Harshad',['a','b','c']]

In [27]:
print(mixed)

[18, 6.32, 'Harshad', ['a', 'b', 'c']]

#### TUPLES

In [28]:
days=('mon','tues','wed','thurs','fri','sat','sun')

In [29]:
print(days)

('mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun')

In [30]:
days[2]

'wed'

In [31]:
days[2]='abc'

TypeError: 'tuple' object does not support item assignment

Tuples values cannot be changed

In [33]:
#Slicing
Letters = "ABCDEFGHIJK"

In [34]:
Good="GsoAo+d"

In [35]:
print(Good)

GsoAo+d

In [40]:
Good.upper()

'GSOAO+D'

In [37]:
upper("uppercase")

NameError: name 'upper' is not defined

In [39]:
Good.lower()

'gsoao+d'

In [41]:
"uppercase".upper()

'UPPERCASE'

In [42]:
Numbers="0123456"

In [43]:
Numbers[::2]

'0246'

In [44]:
"0123456".find('1')

1

 ###STRINGS

In [45]:
len(Good)

7

In [46]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

In [47]:
Name[12]

's'

In [91]:
Name[0:8]
Name[8:10]

'Ja'

In [49]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'McalJcsn'

In [50]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

In [51]:
#concatenation
Name + 'is a dancer'

'Michael Jacksonis a dancer'

In [52]:
#multiply
3*Name

'Michael JacksonMichael JacksonMichael Jackson'

In [56]:
3*' Harshad '

' Harshad  Harshad  Harshad '

In [57]:
print(3*'Harshad\n')

Harshad
Harshad
Harshad

In [58]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

In [59]:
Name.find('a')

4

In [61]:
# Write your code below and press Shift+Enter to execute and print out the first three elements

D = "ABCDEFG"
D[0:3]

'ABC'

In [62]:
# Write your code below and press Shift+Enter to execute

E = 'clocrkr1e1c1t'
E[::2]

'correct'

In [63]:
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

In [64]:
# Write your code below and press Shift+Enter to execute

G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [65]:
#Consider the variable G, and find the first index of the sub-string snow:
G.find('snow')

95

In [66]:
G.replace('Mary','Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [67]:
3+2*2

7

In [68]:
name1='Lizz'

In [69]:
print(name1[0:2])

Li

In [70]:
var='01234567'

In [71]:
var[::2]

'0246'

In [72]:
A=(0,1,2,3)

In [73]:
A[-1]

3

In [74]:
A[3]

3

In [75]:
A[end]

NameError: name 'end' is not defined

In [76]:

A[0]

0

In [77]:
B=["a","b","c"]

In [78]:
B[1:]

['b', 'c']

In [79]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [80]:
type(tuple1)

tuple

In [81]:
tuple1[0]

'disco'

In [82]:
print(type(tuple1[0]))

<class 'str'>

In [84]:
tuple1[-1]

1.2

In [85]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [86]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [92]:
len(tuple2)

5

In [93]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [94]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [95]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [96]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [98]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [99]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [100]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [101]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [102]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

7

In [103]:
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple=(-5,1,-3)
sorted(C_tuple)

[-5, -3, 1]

In [104]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [105]:
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [106]:
# List slicing

L[3:5]

['MJ', 1]

In [110]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L
len(L)

4

In [108]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [109]:
len(L)

3

In [111]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [112]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [113]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [114]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [115]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [116]:
# Copy (copy by reference) the list A,bot are pointing to one list

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [117]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [118]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [119]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [120]:
#Concatenation
A=[1,'a']
B=[2,1,'d']
C=A+B
C

[1, 'a', 2, 1, 'd']

In [121]:
a_list=[1,'hello',[1,2,3],True]
a_list
a_list[1:4]

['hello', [1, 2, 3], True]

###SET

In [122]:
list1=['A','B','C','A','B','C']
set1=set(list1)

In [123]:
set1

{'A', 'B', 'C'}

In [124]:
set1.add('D')

In [125]:
set1

{'A', 'B', 'C', 'D'}

In [127]:
#Intersection of set a and B
A={1,2,3,4,5}
B={1,3,9, 12}
C=A.intersection(B)

In [128]:
C

{1, 3}

In [129]:
S={'a','b','c'}
U={'a','z','c'}
U.union(S)

{'a', 'b', 'c', 'z'}

In [130]:
S.intersection(U)

{'a', 'c'}

In [131]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
print(set1)

# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
print(album_set)

# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
print(music_genres)

{'soul', 'hard rock', 'rock', 'pop', 'R&B', 'disco'}
{65, '00:42:19', '30-Nov-82', 10.0, 'Pop, Rock, R&B', 46.0, None, 'Thriller', 'Michael Jackson', 1982}
{'hard rock', 'folk rock', 'progressive rock', 'R&B', 'rock', 'pop', 'soft rock', 'soul', 'disco'}

In [132]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A
# Add element to set

A.add("NSYNC")
A
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [133]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [134]:
# Verify if the element is in the set

"AC/DC" in A

True

In [135]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [136]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [137]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [138]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [139]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [140]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [141]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [142]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [143]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [144]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [145]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [154]:
#Dictionary
D={'a':[0],'b':1,'c':2}
D

{'a': [0], 'b': 1, 'c': 2}

In [157]:
D['a']

[0, 1]

In [156]:
D['a'].append(1)

In [158]:
D.values()

dict_values([[0, 1], 1, 2])

In [159]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [160]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [161]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [162]:
A=('a','b','c')
A[0]

'a'

# 1+1
Condition statements

In [5]:
# IF condition
a=1
a!=0

True

In [6]:
x='a'

if(x!='a'):

    print("this is not a")

else:

    print("this is a")

this is a

In [9]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [10]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

Looping Conditions

In [1]:
#for loops

A=[3,4,5]

for a in A:
    print(a)

3
4
5

In [2]:
#while loop
x=3
y=1

while(y!=x):
    print(y)
    y=y+1

1
2

In [4]:
# Use the range

range(3)

range(0, 3)

In [6]:
# For loop example

dates = [1982,1980,1973]
print(dates)

N = len(dates)
print(N)

for i in range(N):
    print(dates[i])

[1982, 1980, 1973]
3
1982
1980
1973

In [7]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [10]:
for years in dates:
    print(years)

1982
1980
1973

In [12]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

print(squares)

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight
['weight', 'weight', 'weight', 'weight', 'weight']

In [13]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [14]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [15]:

#while loop
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i=0
while(PlayListRatings[i]>6):
    print(PlayListRatings[i])
    i=i+1

10
9.5
10
8
7.5

In [16]:
#Similar code
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 1
Rating = PlayListRatings[0]
while(Rating >= 6):
    print(Rating)
    Rating = PlayListRatings[i]
    i = i + 1

10
9.5
10
8
7.5

In [17]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

i=0
while(squares[i]=='orange'):
    new_squares.append(squares[i])
    i=i+1
print(new_squares)

['orange', 'orange']

In [19]:
# Function

a=1

def add(b):

    return a+b

c=add(10)

print(c)

def f(*x):

    return sum(c)

11

In [20]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c) 

a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [21]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [23]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)
len(album_ratings)

8

In [26]:
# One way of sorting and saving in a new list
album_ratings1 = sorted(album_ratings)
print(album_ratings1)

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [28]:
# sorting the same list.
album_ratings.sort()
print(album_ratings)

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [29]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var = artist
    print(artist, "is an artist")
    
print(printer1(artist))

Michael Jackson is an artist
None

In [30]:
#global variables

artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [31]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [32]:
# a/b

def divide(a,b):
    return (a/b)

print(divide(2,4))

0.5

In [33]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

print(con(2,4))
print(con('Harshad ','Kumar'))

6
Harshad Kumar

In [35]:
# concatenating the lists or tuples
A = [1,2,3]
B = [1,2,3]

print(con(A,B))
print(con(['a', 1], ['b', 1]))

[1, 2, 3, 1, 2, 3]
['a', 1, 'b', 1]

In [1]:
# Class in Python

class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

In [2]:
Car1 = Car("BMW","M3","red")

In [5]:
Car1.car_info()

make:  BMW
model: M3
color: blue
number of owners: 5

In [4]:
for i in range(5):
    Car1.sell()

Car1.car_info()
Car1.color = "blue"
Car1.car_info()

make:  BMW
model: M3
color: red
number of owners: 5
make:  BMW
model: M3
color: blue
number of owners: 5

In [6]:
Car2=Car(model="Accord",make="Honda",color="blue")

In [8]:
Car2.car_info()

make:  Honda
model: Accord
color: blue
number of owners: 0

In [10]:
#QUIZ

A=['1','2','3']

for a in A:

    print(2*a)

11
22
33

### Working with Files

In [22]:
# Read the Example1.txt

example1 = "C:/Users/ehars/Documents/Learning/Example1.txt"
file1 = open(example1, "r")

In [23]:
#printing the path
file1.name

'C:/Users/ehars/Documents/Learning/Example1.txt'

In [24]:
#printing the mode
file1.mode

'r'

In [25]:
# Read the file

filecontent=file1.read()
filecontent

'This is line 1 \nThis is line 2\nThis is line 3'

In [26]:
#Printing the file
print(filecontent)

This is line 1
This is line 2
This is line 3

In [28]:
# Type of file content

type(filecontent)

str

In [29]:
# Close file after finish

file1.close()

In [30]:
filecontent

'This is line 1 \nThis is line 2\nThis is line 3'

In [31]:
# Using the with statement is better practice, it automatically closes the file 
# even if the code encounters an exception. The code will run everything in the indent block then close the file object.
# Open file using with

with open(example1, "r") as file2:
    FileContent = file2.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [32]:
# Verify if the file is closed

file1.closed

True

In [33]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [34]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [35]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [36]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [37]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [38]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [39]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [40]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [41]:
# Print the first line

FileasList[1]

'This is line 2\n'

In [43]:
# Print the first line

FileasList[2]

'This is line 3'

In [44]:
# Write line to file

with open('C:/Users/ehars/Documents/Learning/Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [45]:
# Read file

with open('C:/Users/ehars/Documents/Learning/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [46]:
# Write lines to file

with open('Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [47]:
# Check whether write to file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [48]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

In [49]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [50]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [51]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [52]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [53]:
# Append the line to the file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [54]:
# Verify if the appending is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [55]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [56]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [2]:
# Pandas

import pandas as pd

df = pd.DataFrame({'a':[11,2,33],'b':[21,22,23]})
df.head()

    a   b
0  11  21
1   2  22
2  33  23

In [6]:
#TEXT TO SPEECH
#you will need the following library 
!pip install ibm_watson wget

Requirement already satisfied: ibm_watson in c:\users\ehars\anaconda3\lib\site-packages (4.7.1)
Requirement already satisfied: wget in c:\users\ehars\anaconda3\lib\site-packages (3.2)
Requirement already satisfied: ibm-cloud-sdk-core==1.7.3 in c:\users\ehars\anaconda3\lib\site-packages (from ibm_watson) (1.7.3)
Requirement already satisfied: requests<3.0,>=2.0 in c:\users\ehars\anaconda3\lib\site-packages (from ibm_watson) (2.22.0)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\ehars\anaconda3\lib\site-packages (from ibm_watson) (2.8.1)
Requirement already satisfied: websocket-client==0.48.0 in c:\users\ehars\anaconda3\lib\site-packages (from ibm_watson) (0.48.0)
Requirement already satisfied: PyJWT>=1.7.1 in c:\users\ehars\anaconda3\lib\site-packages (from ibm-cloud-sdk-core==1.7.3->ibm_watson) (1.7.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\ehars\anaconda3\lib\site-packages (from requests<3.0,>=2.0->ibm_watson) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ehars\anaconda3\lib\site-packages (from requests<3.0,>=2.0->ibm_watson) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ehars\anaconda3\lib\site-packages (from requests<3.0,>=2.0->ibm_watson) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\ehars\anaconda3\lib\site-packages (from requests<3.0,>=2.0->ibm_watson) (2.8)
Requirement already satisfied: six>=1.5 in c:\users\ehars\anaconda3\lib\site-packages (from python-dateutil>=2.5.3->ibm_watson) (1.14.0)

In [5]:
from ibm_watson import SpeechToTextV1 
import json
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator

In [7]:
url_s2t = "https://stream.watsonplatform.net/speech-to-text/api"
url_s2t

'https://stream.watsonplatform.net/speech-to-text/api'

In [ ]:
iam_apikey_s2t = ""